<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Profile</span>
      <h3 class="page-title">{{name}}</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-small mb-4 pt-3">
        <div class="card-header border-bottom text-center">
          <div class="mb-3 mx-auto">
            <img class="rounded-circle img-style" src="{{image}}" alt="User Avatar" width="110">
          </div>
          <h4 class="mb-0">{{name}}</h4>
          <span class="text-muted d-block mb-2">{{user$.designation}}</span>
          <div class="btn-group" role="group">
            <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-{{empStatus}} mr-2 dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{empStatus}}</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" (click)="changeStatus('Available')">Available</a>
              <a class="dropdown-item" (click)="changeStatus('Working')">Working</a>
              <a class="dropdown-item" (click)="changeStatus('Busy')">Busy</a>
            </div>
          </div>
          <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2" (click)="redirectToEditProfile()"><i
              class="material-icons">
              edit
            </i> Edit Profile</button>

        </div>
        <div class="user-details__user-data border-bottom p-4">
          <div class="row mb-3">
            <div class="col w-50">
              <span>Email</span>
              <span><small>{{email}}</small></span>
            </div>
            <div class="col w-50">
              <span>Role</span>
              <span><small>{{role}}</small></span>
            </div>
          </div>
          <div class="row">
            <div class="col w-50">
              <span>Department</span>
              <span><small>{{department}}</small></span>
            </div>
            <div class="col w-50">
              <span>Designation</span>
              <span><small>{{designation}}</small></span>
            </div>
          </div>
        </div>
        <div class="user-details__user-data border-bottom p-4">
          <div class="row mb-3">
            <div class="col w-50">
              <span></span>
              <span><small><strong class="dat">Account Creation: </strong>{{created_at}}</small></span>
            </div>
            <div class="col w-50">
              <span></span>
              <span><small><strong class="dat">Profile Last Update: </strong>{{updated_at}}</small></span>
            </div>
          </div>
        </div>
        <div class="user-details__tags p-4">
          <span *ngFor="let item of skills" class="badge badge-pill badge-light text-light text-uppercase mb-2 border">
            {{item.name}}</span>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <!-- User Statistics -->
      <div class="card card-small user-stats mb-4">
        <div class="card-body">
          <div class="row" role="tablist">
            <div class="col-6 col-sm-3 text-center">
              <ul class="nav nav-me" role="tablist">
                <a href="#all" role="tab" data-toggle="tab">
                  <h4 class="m-0">{{task.taskUser.length}}</h4>
                  <span class="text-light text-uppercase">Task</span>
                </a>
              </ul>
            </div>
            <div class="col-6 col-sm-3 text-center">
              <ul class="nav nav-me" role="tablist">
                <a href="#pending" role="tab" data-toggle="tab">
                  <h4 class="m-0">{{pendingTotal}}</h4>
                  <span class="text-light text-uppercase">Pending</span>
                </a>
              </ul>
            </div>
            <div class="col-6 col-sm-3 text-center">
              <ul class="nav nav-me" role="tablist">
                <a href="#complete" role="tab" data-toggle="tab">
                  <h4 class="m-0">{{completeTotal}}</h4>
                  <span class="text-light text-uppercase">Complete</span>
                </a>
              </ul>
            </div>
            <div class="col-6 col-sm-3 text-center">
              <ul class="nav nav-me" role="tablist">
                <a href="#project" role="tab" data-toggle="tab">
                  <h4 class="m-0">{{task.taskUser.length}}</h4>
                  <span class="text-light text-uppercase">Approved</span>
                </a>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer py-0">
          <div class="row">
            <div class="col-12 col-sm-6 border-top pb-3 pt-2 border-right">
              <div class="progress-wrapper">
                <span class="progress-label">Workload</span>
                <div class="progress progress-sm">
                  <div class="progress-bar progress-bar-striped" role="progressbar" attr.aria-valuenow="{{workload}}"
                    aria-valuemin="0" aria-valuemax="100" [style.width.%]="workload">
                    <span class="progress-value">{{workload}}%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 border-top pb-3 pt-2">
              <div class="progress-wrapper">
                <span class="progress-label">Performance</span>
                <div class="progress progress-sm">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [attr.aria-valuenow]="progress"
                    aria-valuemin="0" aria-valuemax="100" [style.width.%]="progress">
                    <span class="progress-value">{{progress}}%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all">
          <div class="card card-small mb-4">
            <div class="card-header">
              <h6 class="m-0">All Tasks</h6>
              <div class="block-handle"></div>
            </div>
            <div class="card-body p-0">
              <table class="table mb-0">
                <thead class="py-2 bg-light text-semibold ">
                  <tr>
                    <th>Task</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Priority</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of task.taskUser">
                    <td class="col-width">
                      <strong *ngIf="item.givenById == assignedBy" class="clip"><i class="material-icons">info</i>
                        You've
                        Assigned This Task to
                        {{item.givenToName}}</strong><br />
                      <b class="dat">{{item.taskName}}</b><br />
                      <small>{{item.description}}</small><br />
                      <small><strong class='dat'>Assigned By: </strong>{{item.givenByName}}</small>
                    </td>
                    <td class="lo-stats__status">
                      <div class="d-table mx-auto">
                        <span class="badge badge-pill badge-{{item.status}}">{{item.status}}</span>
                      </div>
                    </td>
                    <td class="lo-stats__items text-center text-{{item.priority}}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="pending">
          <div class="card card-small mb-4">
            <div class="card-header border-bottom">
              <h6 class="m-0">Pending Task</h6>
              <div class="block-handle"></div>
            </div>
            <div class="card-body pt-0">

            </div>
          </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="complete">

          complete

        </div>
        <div role="tabpanel" class="tab-pane" id="project">

          project

        </div>
      </div>

      <!-- End Weekly Performance -->

    </div>
  </div>

</div>