<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-lg-12 offset-lg-0 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Dashboard <span class="pull-right badge badge-warning">under
          construction</span></span>
      <h3 class="page-title">Analytics</h3>
    </div>
  </div>

  <div class="error">
    <div class="error__content">
      <img class="uc" src="/src/assets/images/under-construction.png">
      <h3>Site Under Construction</h3>
      <p>Developers are busy constructing this page.</p>
    </div>
  </div>

</div>