<div class="main-navbar sticky-top bg-white" *ngIf="nav.isVisible">
  <!-- Main Navbar -->
  <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
    <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
      <div class="input-group input-group-seamless ml-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
      </div>
    </form>
    <ul class="navbar-nav border-left flex-row ">
      <li class="nav-item border-right dropdown notifications">
        <a class="nav-link nav-link-icon text-center" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <div class="nav-link-icon__wrapper">
            <i class="material-icons">&#xE7F4;</i>
            <span class="badge badge-pill badge-danger">{{notificationMessages.length}}</span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" *ngFor="let item of notificationMessages">
            <div class="notification__icon-wrapper">
              <div class="notification__icon">
                <i class="material-icons">{{item.icon}}</i>
              </div>
            </div>
            <div class="notification__content">
              <span class="notification__category">{{item.title}}</span>
              <p>{{item.message}}</p>
              <strong class="dat notification__category pull-right ui pointer" (click)="app.onView(item.id, item.key)">View
                Details</strong><strong class="dat notification__category pull-right ui pointer" (click)="app.onRead(item.key)">Mark
                as read</strong>
            </div>
          </a>
          <a class="dropdown-item notification__all text-center" href="#"> View all Notifications </a>
        </div>

      </li>

      <li class="nav-item border-right dropdown notifications">
        <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <div class="nav-link-icon__wrapper">
            <i class="material-icons">email</i>
            <span class="badge badge-pill badge-danger">{{app.memo + app.message}}</span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="/messages/memo">
            <div class="notification__icon-wrapper">
              <div class="notification__icon">
                <i class="material-icons">border_color</i>
              </div>
            </div>
            <div class="notification__content">
              <span class="notification__category">Memo</span>
              <p>You have {{app.memo}} un-read Memo's in your Memo-List. Click here to redirect to Memo-List.</p>
            </div>
          </a>
          <a class="dropdown-item" routerLink="/messages/chat">
            <div class="notification__icon-wrapper">
              <div class="notification__icon">
                <i class="material-icons">chat</i>
              </div>
            </div>
            <div class="notification__content">
              <span class="notification__category">Messages</span>
              <p>You have {{app.message}} un-read Chat's in your Chat-Messages. Click here to redirect to
                Chat-Messages.</p>
            </div>
          </a>
        </div>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="true" aria-expanded="false">
          <img class="user-avatar rounded-circle mr-2" src="assets/images/avatars/0.jpg" alt="User Avatar">
          <span class="d-none d-md-inline-block">Sierra Brooks</span>
        </a>
        <div class="dropdown-menu dropdown-menu-small">
          <a class="dropdown-item" routerLink="profile">
            <i class="material-icons">person</i> Profile</a>
          <a class="dropdown-item" href="components-blog-posts.html">
            <i class="material-icons">vertical_split</i> Blog Posts</a>
          <a class="dropdown-item" routerLink="settings">
            <i class="material-icons">settings</i> Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="" (click)="logOut()">
            <i class="material-icons text-danger">exit_to_app</i> Logout </a>
        </div>
      </li>

    </ul>
    <nav class="nav">
      <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left"
        data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
        <i class="material-icons">&#xE5D2;</i>
      </a>
    </nav>
  </nav>

  <div *ngFor="let alert of app.alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
      <strong class="alertType"><i class="material-icons">{{alert.icon}}</i> {{alert.type}}!</strong> {{ alert.msg }}
    </alert>
  </div>

</div>