<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-lg-12 offset-lg-0 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Project <span class="pull-right badge badge-warning">under
          construction</span></span>
      <h3 class="page-title">{{name}}</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="stats-small-g card card-small">
        <div class="card-body px-0 pb-0">
          <div class="d-flex px-3">
            <div class="stats-small__data">
              <span class="stats-small__label mb-1 text-uppercase">Employees</span>
              <h6 class="stats-small__value count m-0">{{proj.projMembersList.length}}</h6>
            </div>
            <div class="stats-small__data text-right align-items-center">
              <i class="material-icons size-32">supervisor_account</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="stats-small-g card card-small">
        <div class="card-body px-0 pb-0">
          <div class="d-flex px-3">
            <div class="stats-small__data">
              <span class="stats-small__label mb-1 text-uppercase">Task</span>
              <h6 class="stats-small__value count m-0">{{task.taskList.length}}</h6>
            </div>
            <div class="stats-small__data text-right align-items-center">
              <i class="material-icons size-32">toc</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="stats-small-g card card-small">
        <div class="card-body px-0 pb-0">
          <div class="d-flex px-3">
            <div class="stats-small__data">
              <span class="stats-small__label mb-1 text-uppercase">Pending Task</span>
              <h6 class="stats-small__value count m-0">{{proj.projMembersList.length}}</h6>
            </div>
            <div class="stats-small__data text-right align-items-center">
              <i class="material-icons size-32">short_text</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="stats-small-g card card-small">
        <div class="card-body px-0 pb-0">
          <div class="d-flex px-3">
            <div class="stats-small__data">
              <span class="stats-small__label mb-1 text-uppercase">Complete Task</span>
              <h6 class="stats-small__value count m-0">{{proj.projMembersList.length}}</h6>
            </div>
            <div class="stats-small__data text-right align-items-center">
              <i class="material-icons size-32">done_all</i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-8 offset-lg-0">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">Project Details</h6>
        </div>
        <div class="card-body card-height">
          <p class="card-text d-inline-block mb-3">{{description}}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 offset-lg-0">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">Project Details</h6>
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-small list-group-flush">
            <li class="list-group-item d-flex px-3">
              <span class="text-semibold text-fiord-blue">Department</span>
              <span class="ml-auto text-right text-semibold text-reagent-gray">{{department}}</span>
            </li>
            <li class="list-group-item d-flex px-3">
              <span class="text-semibold text-fiord-blue">Category</span>
              <span class="ml-auto text-right text-semibold text-reagent-gray">{{category}}</span>
            </li>
            <li class="list-group-item d-flex px-3">
              <span class="text-semibold text-fiord-blue">Created at</span>
              <span class="ml-auto text-right text-semibold text-reagent-gray">{{created_at}}</span>
            </li>
            <li class="list-group-item d-flex px-3">
              <span class="text-semibold text-fiord-blue">Updated at</span>
              <span class="ml-auto text-right text-semibold text-reagent-gray">{{updated_at}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">Project Tasks</h6>
        </div>
        <div class="card-body p-0">
          <div class="py-2 bg-light">
            <div class="col-12 col-sm-6 d-flex mb-2 mb-sm-0">
              <div class="btn-group btn-group-sm btn-group-toggle d-flex my-auto mx-auto mx-sm-0" data-toggle="buttons">
                <label class="btn btn-white">
                  <input type="radio" name="options" id="option1" autocomplete="off"> All </label>
                <label class="btn btn-white">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Pending </label>
                <label class="btn btn-white">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Completed </label>
              </div>
            </div>
          </div>
          <table class="table mb-0">
            <thead class="py-2 bg-light text-semibold border-bottom">
              <tr>
                <th>Task</th>
                <th>Description</th>
                <th class="text-center">Status</th>
                <th class="text-center">Duration</th>
                <th class="text-center">Assigned By</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of task.taskList">
                <td class="">
                  {{item.name}}
                </td>
                <td class="col-width">
                  <!-- <span>{{ item.description.substring(0, 100) }}</span> -->
                  <div class="go-stats__meta">
                    <span class="mr-2"><strong>{{ item.description.substring(0, 100) }}</strong></span><br />
                    <span class="d-block d-sm-inline">
                      <strong class="dat">Priority: </strong><span class="text-{{item.priority}}"></span></span>
                  </div>
                </td>
                <td class="lo-stats__status">
                  <div class="d-table mx-auto">
                    <span class="badge badge-pill badge-{{item.status}}">{{item.status}}</span>
                  </div>
                </td>
                <td class="lo-stats__total text-center">{{item.estimated_time}}</td>
                <td class="lo-stats__items text-center">
                  {{item.givenBy}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">Project Members</h6>
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-small list-group-flush">
            <li class="list-group-item d-flex px-3" *ngFor="let item of proj.projMembersList | filter : 'name' : searchString | slice: 0: app.end; index as i">
              <span class="text-semibold text-fiord-blue">{{item.userName}}</span>
              <span class="ml-auto text-right text-semibold text-reagent-gray">{{item.designationName}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>