.card-height{
        height: 159px !important;
}

.card-height-1{
  height: 358px !important;
}

th{
        font-weight: 500 !important;
}

.badge-rejected{
        color: #fff;
        background-color: #c4183c;
    }
    
    .badge-complete{
        color: #fff;
        background-color: #17c671;
    }
    
    .badge-approved{
        color: #fff;
        background-color: #007bff;
    }
    
    .badge-pending{
        color: #212529;
        background-color: #ffb400;
    }
    
    .badge-in-progress{
        color: #fff;
        background-color: #674eec;   
    }
    
    .text-1{
        color:#17c671;
      }
      .text-1::after{
        content: 'Low';
      }
      .text-2{
        color:#ffb400;
      }
      .text-2::after{
        content: 'Medium';
      }
      .text-3{
        color:#c4183c;
      }
      .text-3::after{
        content: 'High';
      }
    
    .col-width {
        width: 30%;
    }

.taskStatus{
  color: #818ea3;
}

.taskStatus li:nth-child(1)::before {
  content: '―';
  padding-right: 6px;
  font-weight: 700;
  color: #ffb400;
}
.taskStatus li:nth-child(2)::before {
  content: '―';
  padding-right: 6px;
  font-weight: 700;
  color: #674eec;
}
.taskStatus li:nth-child(3)::before {
  content: '―';
  padding-right: 6px;
  font-weight: 700;
  color: #17c671;
}
.taskStatus li:nth-child(4)::before {
  content: '―';
  padding-right: 6px;
  font-weight: 700;
  color: #007bff;
}
.taskStatus li:nth-child(5)::before {
  content: '―';
  padding-right: 6px;
  font-weight: 700;
  color: #c4183c;
}

.taskStatus small{
  font-style: italic;
}

.bottom-text{
  position: absolute; 
                bottom: 0;
                padding: 6px;
}