.card-height{
        height: 159px !important;
}

th{
        font-weight: 500 !important;
}

.badge-rejected{
        color: #fff;
        background-color: #c4183c;
    }
    
    .badge-complete{
        color: #fff;
        background-color: #17c671;
    }
    
    .badge-approved{
        color: #fff;
        background-color: #007bff;
    }
    
    .badge-pending{
        color: #212529;
        background-color: #ffb400;
    }
    
    .badge-in-progress{
        color: #fff;
        background-color: #674eec;   
    }
    
    .text-1{
        color:#17c671;
    }
    .text-2{
        color:#ffb400;
    }
    .text-3{
        color:#c4183c;
    }
    
    .col-width {
        width: 30%;
    }